---
const year = new Date().getFullYear()
---

<footer class="flex">
  &copy; {year}. Made by <a href="https://www.lekoarts.de?utm_source=secco-website">LekoArts</a>.
</footer>

<style>
  footer {
    padding-top: 4.5rem;
  }
</style>