name: Build CLI

on: workflow_call

jobs:
  build_cli:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Install dependencies
        uses: ./.github/actions/pnpm-install
      - name: Build CLI
        run: pnpm run build
      - name: Publint
        run: pnpm run check
      - name: Upload dist
        uses: actions/upload-artifact@v5
        with:
          name: dist
          path: dist
          retention-days: 1
