name: Integration Testing

on: workflow_call

jobs:
  integration-testing:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        pm:
          - name: npm
            displayName: npm
            version: 11.6.0
          - name: pnpm
            displayName: pnpm
            version: 10.17.0
          - name: yarn
            displayName: yarn (classic)
            version: 1.22.22
          - name: yarn
            displayName: yarn (berry)
            version: 4.3.1
          - name: bun
            displayName: bun
            version: 1.2.22
    name: ${{ matrix.pm.displayName }}
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Install dependencies
        uses: ./.github/actions/pnpm-install
      - name: Enable Corepack
        shell: bash
        run: |
          npm i -g --force corepack
          corepack enable
          echo "Corepack enabled"
      - name: Install Bun (optional)
        uses: oven-sh/setup-bun@v2
        if: ${{ matrix.pm.name == 'bun' }}
      - uses: actions/download-artifact@v6
        with:
          name: dist
          path: dist
      - name: Run Vitest
        run: pnpm run test:integration
        env:
          INTEGRATION_PM_NAME: ${{ matrix.pm.name }}
          INTEGRATION_PM_VERSION: ${{ matrix.pm.version }}
      - name: Upload temp dir (optional)
        if: ${{ cancelled() || failure() }}
        uses: actions/upload-artifact@v5
        with:
          name: temp-dir-${{ github.run_id }}-${{ github.run_attempt }}-${{ matrix.pm.name }}
          path: ${{ runner.temp }}/secco-**/**/*
          retention-days: 1
