name: Release
on:
  push:
    branches:
      - main
jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
      packages: write
      pull-requests: write
      issues: read
      statuses: write
      checks: write
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Install dependencies
        uses: ./.github/actions/pnpm-install
      - name: Create Release Pull Request or Publish to npm
        id: changesets
        uses: changesets/action@v1
        with:
          commit: 'chore(release): Publish'
          title: 'Changesets: Version Packages'
          publish: pnpm release
          version: pnpm version:ci
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
