name: Compressed Size

on: workflow_call

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Install dependencies
        uses: ./.github/actions/pnpm-install
      - uses: preactjs/compressed-size-action@master
